.flex7 {
  background-image: linear-gradient(
    to right,
    #2f73f2 60%,
    rgb(70, 212, 255) 40%
  );
  display: flex;
  height: 952px;
  justify-content: center;
}
.section6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6 .section6-info h2 {
  font-size: 35px;

  color: white;
}
.section6-info-details-1 {
  margin: 36px 0;
  color: white;
  font-size: 20px;
}
.section6-info-details-2 {
  margin: 36px 0;
  color: white;
  font-size: 20px;
}
.section6-info-details-3 {
  margin: 36px 0;
  font-size: 20px;
  color: white;
}
.section6-info-details-1 img,
.section6-info-details-2 img {
  margin-right: 9px;

  height: 35px;
}
.section6-info-details-3 img {
  margin-right: 9px;

  height: 35px;
}
.section6-info span,
.section6-info img {
  opacity: 0.7;
  font-size: 20px;
}
.section6-info {
  font-weight: bold;
}
.section6-info .btn {
  background-color: rgb(70, 212, 255);

  border-radius: 0%;
  height: 40px;
}
.empty {
  position: relative;
}
form {
  width: 670px;
  height: 710px;
  background-color: white;
  margin: 90px -20px 10px 150px;
  padding: 40px;

  border-radius: 35px;
}
form input {
  width: 256px;
  height: 45px;

  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 13px;
}

form input:focus,
form textarea:focus {
  border-color: #2f73f2;
  outline: none;
  background: #fff;
}
.Message {
  grid-column-start: 1;
  grid-column-end: 3;
}

form textarea {
  width: 560px;
  height: 119px;

  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  resize: none;
  font-family: inherit;
}
form button {
  outline: none;
  border: none;
  font-size: 16px;
}
form .left {
  margin-right: 0;
}
button .btn,
.section6 .empty .btn,
.section6-info .btn {
  width: 150px;
  height: 50px;
  background-color: #2f73f2;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.section6-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 60px;
  margin-top: 10px;
}
.section6 .empty .btn {
  grid-column-start: 1;
  grid-column-end: 2;
}
button.btn:hover,
.section6 .empty .btn:hover,
.section6-info .btn:hover {
  background-color: #ffffff;
  color: #2f73f2;
  border: 1px solid #2f73f2;
  transition: 0.3s;
  scale: 1.11;
  cursor: pointer;
}
.container6 {
  width: 1134px;
  display: flex;
  margin: 0 10px;
  flex-direction: column;
}

.section6-info .btn {
  background-color: #00a3ff;
  border-radius: 0%;
}